.home-container{
    margin: 0%;
    padding: 0%;
   
}
.center-layout{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.left-aside-layout{
    background-color: rgb(229, 229, 229);
    width: 20%;
    position:static;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-aside-demo{
    height: 300px;
    width: 95%;
    background-color: rgb(194, 191, 191);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.right-aside-demo{
    height: 300px;
    width: 95%;
    background-color: rgb(194, 191, 191);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.right-aside-layout{
    background-color:  rgb(229, 229, 229);
    width: 20%;
    position:static;
    height: 10%;
}
.main-layout{
    background-color:rgba(183, 183, 183,0.4) ;
    opacity: 0.8;
    width: 60%;
    display: flex;
flex-direction: column;
align-items: center;
}